@model EntityLayer.Concrete.CampaignSurvey
@{
    ViewData["Title"] = "Sorğu haqqında ətraflı məlumat";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-xl-12">
    <div style="padding-left:50px; padding-right:50px; padding-top:50px; padding-bottom:50px;" class="card" id="bootstrap-table5">
        <h3>@Model.Title</h3>
        <div>
            <i class="fa fa-calendar-check"></i>
            <span style="margin-left:5px;">@(((DateTime)Model.SendDate).ToString("MMMM dd, yyyy HH:mm"))</span>
        </div>
        <div>
            <i class="fa fa-store"></i>
            <span style="margin-left:5px;">@Model.Store.Name</span>
        </div>
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>