
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Under Construction - Vetra | HTML Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/vetra/assets/images/favicon.png" />

    <!-- Main style file -->
    <link rel="stylesheet" href="~/vetra/dist/css/app.min.css" type="text/css">
</head>
<body class="d-md-flex align-items-center justify-content-center">

    <div class="container text-center p-5 p-md-0">
        <div class="row mb-4">
            <div class="col-md-4 m-auto">
                <figure>
                    <img style="margin-right:70px;" class="img-fluid" src="~/delete-button.png" width="200" alt="image">
                </figure>
            </div>
        </div>
        <div style="margin-right:50px;">
            <h2 class="display-6">E-poçt tapılmadı!</h2>
            <div class="d-flex gap-3 justify-content-center">

                <a style="margin-right:15px; margin-top:20px;" href="/Seller/Login/Index" class="btn btn-primary">Giriş səhifəsi</a>
            </div>
        </div>
    </div>

    <!-- Bundle scripts -->
    <script src="~/vetra/libs/bundle.js"></script>

    <!-- Main Javascript file -->
    <script src="~/vetra/dist/js/app.min.js"></script>
</body>

</html>