@model OnlineShopping.Areas.Admin.Models.PasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password - Vetra | E-Commerce HTML Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/vetra/assets/images/favicon.png" />

    <!-- Themify icons -->
    <link rel="stylesheet" href="~/vetra/dist/icons/themify-icons/themify-icons.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="~/vetra/dist/css/app.min.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="auth">

    <!-- begin::preloader-->

    <!-- end::preloader -->


    <div class="form-wrapper">
        <div class="container">
            <div style="width:500px;" class="card">
                <div class="row g-0">
                    <div class="col">
                        <div class="row">
                            <div style="margin-top:60px; " class="col-md-12 offset-md-1">
                                <div style="margin-right:60px;" class="my-5  text-lg-start">
                                    <h1 class="display-8">Şifrə sıfırlamaq</h1>
                                    <p class="text-muted">Qeydiyyat zamanı istifadə etdiyiniz elektron poçt adresini daxil edin!</p>
                                </div>
                                <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                                    <div style="margin-right:70px;" class="mb-3">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Elektron poçt ünvanınızı daxil edin!" autofocus
                                               required>
                                    </div>
                                    <div class="text-center text-lg-start">
                                        <button type="submit" class="btn btn-primary mb-4">Göndər</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Bundle scripts -->
    <script src="~/vetra/libs/bundle.js"></script>

    <!-- Main Javascript file -->
    <script src="~/vetra/dist/js/app.min.js"></script>
</body>

</html>
