@model EntityLayer.Concrete.AppUser
<div class="header-account">
    <button class="header-accountbox-trigger"><img style="margin-right:5px;border-radius:50%; height:40px; width:40px;" src="@Model.ProfileImage" />  @Model.Name @Model.Surname <i class="ion ion-ios-arrow-down"></i></button>
    <ul class="header-accountbox dropdown-list">
        <li>
            <a href="/Account/MyAccount">Kabinetim</a>
        </li>
        <li>
            <a href="/Account/EditAccount">Tənzimləmələr</a>
        </li>
        <li>
            <a href="/Complaint/Index">Şikayətlərin</a>
        </li>
        <li>
            <a href="/Login/LogOut">Çıxış</a>
        </li>

    </ul>
</div>