<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title  | E - SHOPPING</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/fonticon.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/haltico/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/haltico/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/haltico/css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="~/haltico/css/style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/haltico/css/custom.css">
</head>
<body>
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        <header class="header">


            <!-- Header Middle Area -->
            <div class="header-middle bg-theme">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-sm-6 order-1 order-lg-1">
                            <a href="/Home/Index" class="header-logo">
                                <img src="~/haltico/images/logo/logo-white.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-lg-6 col-12 order-3 order-lg-2">
                            <form action="#" class="header-searchbox">
                                <select class="select-searchcategory">
                                    <option value="0">Bütün kategoriyalar</option>
                                    <option value="1">Geyimlər</option>
                                    <option value="2">ELektronika əşyaları</option>
                                    <option value="3">Ev əşyaları</option>
                                    <option value="4">Aksesuarlar</option>

                                </select>
                                <input type="text" placeholder="Məhsul axtar ...">
                                <button type="submit"><i class="lnr lnr-magnifier"></i></button>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 order-2 order-lg-3">
                            <div class="header-icons">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @await Component.InvokeAsync("ProfileIdentity")
                                    @await Component.InvokeAsync("CartLayoutDropDown")
                                }
                                else
                                {
                                    <a class="btn btn-success" href="/LogIn/Index">Giriş</a>
                                }
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <!--// Header Middle Area -->
            <!-- Header Bottom Area -->
            <!--// Header Bottom Area -->

        </header>
        @RenderBody()

        <footer class="footer bg-white">

            <!-- Footer Top Area -->
            <div class="footer-toparea">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-12">
                            <div class="footer-widget widget-info">
                                <h5 class="footer-widget-title">Contact Info</h5>
                                <p>We are a team of designers & developers that create high quality Magento, Prestashop, Opencart.</p>
                                <ul>
                                    <li><i class="ion ion-ios-pin"></i> The Barn, Ullenhall, Henley in Arden B578 5CC, England</li>
                                    <li><i class="ion ion-ios-call"></i> Call us: +88.2345.6789</li>
                                    <li><i class="ion ion-ios-print"></i> Fax: +(1234) 408 1234</li>
                                    <li><i class="ion ion-ios-mail"></i> Email us: <a href="#">info@example.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Products</h5>
                                <ul>
                                    <li><a href="#">Prices drop</a></li>
                                    <li><a href="#">New products</a></li>
                                    <li><a href="#">Best sales</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">My account</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Our Company</h5>
                                <ul>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="#">Legal Notice</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Secure payment</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Stores</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Your Account</h5>
                                <ul>
                                    <li><a href="#">Personal info</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Credit slips</a></li>
                                    <li><a href="#">Addresses</a></li>
                                    <li><a href="#">My wishlists</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-12">
                            <div class="footer-widget widget-customerservice">
                                <div class="info">
                                    <h5 class="footer-widget-title">CUSTOMER SERVICE</h5>
                                    <h5>SEND AN EMAIL</h5>
                                    <h5>HOTLINE: : <a href="#">+88.2345.6789</a></h5>
                                    <h6>8:00AM–5.30PM AEST MON–FRI</h6>
                                </div>
                                <div class="payment">
                                    <h6>SECURE PAYMENT VIA</h6>
                                    <img src="~/haltico/images/icons/payment.png" alt="footer payment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer Top Area -->
            <!-- Footer Bottom -->
            <div class="footer-bottomarea">
                <div class="container">
                    <div class="footer-copyright">
                        <p class="copyright">Copyright &copy; <a href="#">Haltico</a> . All Rights Reserved</p>
                    </div>
                </div>
            </div>
            <!--// Footer Bottom -->

        </footer>
    </div>
    <script src="~/haltico/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/haltico/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/haltico/js/popper.min.js"></script>
    <script src="~/haltico/js/bootstrap.min.js"></script>
    <script src="~/haltico/js/plugins.js"></script>
    <script src="~/haltico/js/main.js"></script>

</body>
</html>