<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Haltico - Mega Store eCommerce Bootstrap 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/haltico/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/haltico/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/haltico/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/haltico/css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="~/haltico/css/style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/haltico/css/custom.css">
</head>
<body>
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        <header class="header">

            
            <!-- Header Middle Area -->
            <div class="header-middle bg-theme">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-sm-6 order-1 order-lg-1">
                            <a href="index.html" class="header-logo">
                                <img src="~/haltico/images/logo/logo-white.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-lg-6 col-12 order-3 order-lg-2">
                            <form action="#" class="header-searchbox">
                                <select class="select-searchcategory">
                                    <option value="0">All categories</option>
                                    <option value="1">Fashion</option>
                                    <option value="2">Women</option>
                                    <option value="3">Dresses</option>
                                    <option value="4">Shirts</option>
                                    <option value="5">Blazers</option>
                                    <option value="6">Lingerie</option>
                                    <option value="6">Jeans</option>
                                    <option value="6">Shorts</option>
                                    <option value="6">Sportswear</option>
                                    <option value="6">Swimwear</option>
                                    <option value="6">Kids</option>
                                </select>
                                <input type="text" placeholder="Enter your search key ...">
                                <button type="submit"><i class="lnr lnr-magnifier"></i></button>
                            </form>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 order-2 order-lg-3">
                            <div class="header-icons">
                                <div class="header-account">
                                    <button class="header-accountbox-trigger"><span class="lnr lnr-user"></span> My Account <i class="ion ion-ios-arrow-down"></i></button>
                                    <ul class="header-accountbox dropdown-list">
                                        <li>
                                            <a href="my-account.html">My account</a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">My wishlist</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="login-register.html">Sign in</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-cart">
                                    <a class="header-carticon" href="cart.html"><i class="lnr lnr-cart"></i><span class="count">2</span></a>

                                    <!-- Minicart -->
                                    <div class="header-minicart minicart">
                                        <div class="minicart-header">
                                            <div class="minicart-product">
                                                <div class="minicart-productimage">
                                                    <a href="product-details.html">
                                                        <img src="~/haltico/images/product/thumbnail/product-image-1.jpg" alt="product image">
                                                    </a>
                                                    <span class="minicart-productquantity">1x</span>
                                                </div>
                                                <div class="minicart-productcontent">
                                                    <h6><a href="product-details.html">P-Series 4K UHD Dolby Vision HDR Roku Smart TV</a></h6>
                                                    <span class="minicart-productprice">$43.00</span>
                                                </div>
                                                <button class="minicart-productclose"><i class="ion ion-ios-close-circle"></i></button>
                                            </div>
                                            <div class="minicart-product">
                                                <div class="minicart-productimage">
                                                    <a href="product-details.html">
                                                        <img src="~/haltico/images/product/thumbnail/product-image-2.jpg" alt="product image">
                                                    </a>
                                                    <span class="minicart-productquantity">1x</span>
                                                </div>
                                                <div class="minicart-productcontent">
                                                    <h6><a href="product-details.html">HD Video Recording PJ Handycam Camcorder</a></h6>
                                                    <span class="minicart-productprice">$43.00</span>
                                                </div>
                                                <button class="minicart-productclose"><i class="ion ion-ios-close-circle"></i></button>
                                            </div>
                                        </div>
                                        <ul class="minicart-pricing">
                                            <li>Subtotal <span>$24.12</span></li>
                                            <li>Shipping <span>$7.00</span></li>
                                            <li>Taxes <span>$0.00</span></li>
                                            <li>Total <span>$31.12</span></li>
                                        </ul>
                                        <div class="minicart-footer">
                                            <a href="cart.html" class="ho-button ho-button-fullwidth">
                                                <span>Cart</span>
                                            </a>
                                            <a href="checkout.html" class="ho-button ho-button-dark ho-button-fullwidth">
                                                <span>Checkout</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--// Minicart -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Header Middle Area -->
            <!-- Header Bottom Area -->
            <div class="header-bottom bg-theme">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-10 d-none d-lg-block">

                            <!-- Navigation -->
                            <nav class="ho-navigation">
                                <ul>
                                    <li class="active dropdown-holder">
                                        <a href="index.html">Home</a>
                                        <ul class="hodropdown">
                                            <li><a href="index.html"><i class="ion ion-ios-home"></i> Home Version 1</a></li>
                                            <li><a href="index-2.html"><i class="ion ion-ios-home"></i> Home Version 2</a></li>
                                            <li><a href="index-3.html"><i class="ion ion-ios-home"></i> Home Version 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-holder">
                                        <a href="shop-rightsidebar.html">Shop</a>
                                        <ul class="hodropdown">
                                            <li>
                                                <a href="shop-rightsidebar.html">Shop Grid</a>
                                                <ul>
                                                    <li><a href="shop-rightsidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-leftsidebar.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                                    <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                                    <li><a href="shop-list.html">Shop List</a></li>
                                                    <li><a href="shop-list-rightsidebar.html">Shop List Right Sidebar</a></li>
                                                    <li><a href="shop-list-leftsidebar.html">Shop List Left Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="product-details.html">Product Details</a>
                                                <ul>
                                                    <li><a href="product-details.html">Product Details</a></li>
                                                    <li><a href="product-details-reverse.html">Product Details Reverse</a></li>
                                                    <li><a href="product-details-variable.html">Product Details Variable</a></li>
                                                    <li><a href="product-details-vertical.html">Product Details Vertical</a></li>
                                                    <li><a href="product-details-gallery.html">Product Details Gallery</a></li>
                                                    <li><a href="product-details-group.html">Product Details Group</a></li>
                                                    <li><a href="product-details-affiliate.html">Product Details Affiliate</a></li>
                                                    <li><a href="product-details-slider.html">Product Details Slider</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="compare.html">Compare</a></li>
                                        </ul>
                                    </li>
                                    <li class="megamenu-holder">
                                        <a href="#">Pages</a>
                                        <ul class="megamenu">
                                            <li>
                                                <a href="shop-rightsidebar.html">Shop</a>
                                                <ul>
                                                    <li><a href="shop-rightsidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-leftsidebar.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                                    <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                                    <li><a href="shop-list.html">Shop List</a></li>
                                                    <li><a href="shop-list-rightsidebar.html">Shop List Right Sidebar</a></li>
                                                    <li><a href="shop-list-leftsidebar.html">Shop List Left Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop-rightsidebar.html">Product Details</a>
                                                <ul>
                                                    <li><a href="product-details.html">Product Details</a></li>
                                                    <li><a href="product-details-reverse.html">Product Details Reverse</a></li>
                                                    <li><a href="product-details-variable.html">Product Details Variable</a></li>
                                                    <li><a href="product-details-vertical.html">Product Details Vertical</a></li>
                                                    <li><a href="product-details-gallery.html">Product Details Gallery</a></li>
                                                    <li><a href="product-details-group.html">Product Details Group</a></li>
                                                    <li><a href="product-details-affiliate.html">Product Details Affiliate</a></li>
                                                    <li><a href="product-details-slider.html">Product Details Slider</a></li>
                                                    <li><a href="product-details-slider.html">Product Details Slider</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop-rightsidebar.html">Other Pages</a>
                                                <ul>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="compare.html">Compare</a></li>
                                                    <li><a href="my-account.html">My Account</a></li>
                                                    <li><a href="login-register.html">Login Register</a></li>
                                                    <li><a href="about-us.html">About Us</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog-rightsidebar.html">Blog Pages</a>
                                                <ul>
                                                    <li><a href="blog-rightsidebar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                    <li><a href="blog-details-rightsidebar.html">Blog Details Right Sidebar</a></li>
                                                    <li><a href="blog-details-leftsidebar.html">Blog Details Left Sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-holder">
                                        <a href="blog-rightsidebar.html">Blog</a>
                                        <ul class="hodropdown">
                                            <li><a href="blog-rightsidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="blog-details-rightsidebar.html">Blog Details Right Sidebar</a></li>
                                            <li><a href="blog-details-leftsidebar.html">Blog Details Left Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="contact.html"> Contact</a>
                                    </li>
                                </ul>
                            </nav>
                            <!--// Navigation -->

                        </div>
                        <div class="col-lg-2">
                            <div class="header-contactinfo">
                                <i class="flaticon-support"></i>
                                <span>Call Us Now:</span>
                                <b>+0123456789</b>
                            </div>
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div class="mobile-menu clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Header Bottom Area -->

        </header>
        @RenderBody()
        
        <footer class="footer bg-white">

            <!-- Footer Top Area -->
            <div class="footer-toparea">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-12">
                            <div class="footer-widget widget-info">
                                <h5 class="footer-widget-title">Contact Info</h5>
                                <p>We are a team of designers & developers that create high quality Magento, Prestashop, Opencart.</p>
                                <ul>
                                    <li><i class="ion ion-ios-pin"></i> The Barn, Ullenhall, Henley in Arden B578 5CC, England</li>
                                    <li><i class="ion ion-ios-call"></i> Call us: +88.2345.6789</li>
                                    <li><i class="ion ion-ios-print"></i> Fax: +(1234) 408 1234</li>
                                    <li><i class="ion ion-ios-mail"></i> Email us: <a href="#">info@example.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Products</h5>
                                <ul>
                                    <li><a href="#">Prices drop</a></li>
                                    <li><a href="#">New products</a></li>
                                    <li><a href="#">Best sales</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">My account</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Our Company</h5>
                                <ul>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="#">Legal Notice</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Secure payment</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Stores</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget widget-links">
                                <h5 class="footer-widget-title">Your Account</h5>
                                <ul>
                                    <li><a href="#">Personal info</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Credit slips</a></li>
                                    <li><a href="#">Addresses</a></li>
                                    <li><a href="#">My wishlists</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-12">
                            <div class="footer-widget widget-customerservice">
                                <div class="info">
                                    <h5 class="footer-widget-title">CUSTOMER SERVICE</h5>
                                    <h5>SEND AN EMAIL</h5>
                                    <h5>HOTLINE: : <a href="#">+88.2345.6789</a></h5>
                                    <h6>8:00AM–5.30PM AEST MON–FRI</h6>
                                </div>
                                <div class="payment">
                                    <h6>SECURE PAYMENT VIA</h6>
                                    <img src="~/haltico/images/icons/payment.png" alt="footer payment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer Top Area -->
            <!-- Footer Bottom -->
            <div class="footer-bottomarea">
                <div class="container">
                    <div class="footer-copyright">
                        <p class="copyright">Copyright &copy; <a href="#">Haltico</a> . All Rights Reserved</p>
                    </div>
                </div>
            </div>
            <!--// Footer Bottom -->

        </footer>
    </div>
    <script src="~/haltico/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/haltico/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/haltico/js/popper.min.js"></script>
    <script src="~/haltico/js/bootstrap.min.js"></script>
    <script src="~/haltico/js/plugins.js"></script>
    <script src="~/haltico/js/main.js"></script>
</body>
</html>