@{
    ViewData["Title"] = "Sifarişlər";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<a class="btn btn-primary" href="/Admin/Order/SearchIndex">Tarixə görə axtarış</a>
<br />
<a style="margin-top:5px;" class="btn btn-primary" href="/Admin/Order/SearchCode">Sifariş koduna görə axtarış</a>
<br />
<a style="margin-top:5px;" class="btn btn-primary" href="/Admin/Order/SearchBuyer">Sifarişçiyə görə axtarış</a>
