@model OnlineShopping.Areas.Admin.Models.SearchBuyer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SearchBuyer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-xl-6 col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <form method="post" asp-action="SearchBuyer" asp-controller="Order">
                    <div class="mb-3">
                        <label class="form-label">Sifarişçi adı:</label>
                        <input asp-for="Name" type="text" class="form-control input-default " required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Sifarişçi soyadı:</label>
                        <input asp-for="Surname" type="text" class="form-control input-default " required>
                    </div>
                    <button type="submit" class="btn btn-primary">Axtar</button>
                </form>
            </div>
        </div>
    </div>
</div>
