@using OnlineShopping.Areas.Admin.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AddSellerViewModel
@{
    ViewData["Title"] = "Satıcı əlavə et!";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <form method="post" enctype="multipart/form-data" asp-controller="Seller" asp-action="AddSeller">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <label class="form-label text-primary">Profil şəkli<span class="required">*</span></label>
                            <div class="avatar-upload">
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(/Akademi/xhtml/images/no-img-avatar.png);">
                                    </div>
                                </div>
                                <div class="change-btn mt-2 mb-lg-0 mb-3">
                                    <input asp-for="Image" type='file' class="form-control d-none" id="imageUpload" accept=".png, .jpg, .jpeg">
                                    <label for="imageUpload" class="dlab-upload mb-0 btn btn-primary btn-sm">Şəkil seç</label>
                                    <a href="javascript:void" class="btn btn-danger light remove-img ms-2 btn-sm">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="row">
                                <div class="col-xl-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label text-primary">Satıcı adı:<span class="required">*</span></label>
                                        <input asp-for="Name" type="text" class="form-control" id="exampleFormControlInput1">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput4" class="form-label text-primary">Elektron poçt ünvanı:<span class="required">*</span></label>
                                        <input asp-for="Email" type="email" class="form-control" id="exampleFormControlInput4">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput3" class="form-label text-primary">İstifadəçi adı:<span class="required">*</span></label>
                                        <input asp-for="Username" type="text" class="form-control" id="exampleFormControlInput3">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput5" class="form-label text-primary">Şifrə təkrarı:<span class="required">*</span></label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleFormControlInput5">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput4" class="form-label text-primary">Satıcı soyadı:<span class="required">*</span></label>
                                        <input asp-for="Surname" type="text" class="form-control" id="exampleFormControlInput4" >
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput5" class="form-label text-primary">Telefon nömrəsi:<span class="required">*</span></label>
                                        <input asp-for="Phone" type="tel" class="form-control" id="exampleFormControlInput5">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <label for="exampleFormControlInput5" class="form-label text-primary">Mağaza:<span class="required">*</span></label>
                                    <select asp-for="StoreID" asp-items="ViewBag.sv" class="default-select form-control wide mb-3">
                                        <option>Mağaza seç...</option>
                                    </select>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput5" class="form-label text-primary">Şifrə:<span class="required">*</span></label>
                                        <input asp-for="Password" type="password" class="form-control" id="exampleFormControlInput5">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn btn-success">
                                <span class="btn-icon-start text-success">
                                    <i class="fa fa-save color-success"></i>
                                </span>Yaddaşda saxla!
                            </button>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
