
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sellers</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Mail</th>
            <th>Store</th>
        </tr>
    </table>
</body>
</html>
