
@{
    ViewData["Title"] = "EmailNotFound";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="my-account-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin-left:520px" class="login-form-wrapper">
                    <img src="~/delete-button.png" width="200" />
                </div>
                <h1 style="color:red; margin-top:20px; text-align:center">E-poçt adresi mövcud deyil!</h1>
                <a style="margin-left:550px; margin-top:20px; -webkit-text-fill-color:white" class="btn btn-primary" href="/Login/Index">Giriş səhifəsinə qayıt!</a>
            </div>
        </div>
    </div>
</div>
