@model OnlineShopping.Areas.Admin.Models.PasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Şifrəni sıfırla!";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div style="margin-left:400px;" class="my-account-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login-form-wrapper">
                    <form method="post" asp-action="ForgotPassword" asp-controller="Account" class="ho-form ho-form-boxed">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="ho-form-inner">
                            <div class="single-input">
                                <label for="login-form-email">Elektron poçt adresi<span class="text-danger">*</span></label>
                                <input type="email" asp-for="Email" type="text" id="login-form-email">
                            </div>
                            <div class="form-group">
                                <input asp-for="UserId" type="hidden" />
                                <input asp-for="PasswordCode" type="hidden" />
                            </div>
                            <div class="single-input">
                                <button type="submit" class="ho-button ho-button-dark mr-3">
                                    <span>Göndər</span>
                                </button>

                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
