@{
    ViewData["Title"] = "Link göndərildi!";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div style="margin-left:600px;" class="my-account-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-form-wrapper">
                    <img src="~/check-mark.png" width="250" />
                </div>
                <h1 style="color:green">Link göndərildi!</h1>
                <a style="margin-left:30px; margin-top:20px; -webkit-text-fill-color:white" class="btn btn-primary" href="/Login/Index">Giriş səhifəsinə qayıt!</a>
            </div>
        </div>
    </div>
</div>