@model OnlineShopping.Areas.Admin.Models.PasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">



<head>
	<!-- All Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignLab">
	<meta name="robots" content="">
	<meta name="keywords" content="school, school admin, education, academy, admin dashboard, college, college management, education management, institute, school management, school management system, student management, teacher management, university, university management">
	<meta name="description" content="Discover Akademi - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard">
	<meta property="og:title" content="Akademi : School and Education Management Admin Dashboard Template">
	<meta property="og:description" content="Akademi - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard">
	<meta property="og:image" content="~/Akademi/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title Here -->
	<title>Şifrəmi yenilə!</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="~/Akademi/xhtml/images/favicon.png">
	<link href="~/Akademi/xhtml/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
	<link href="~/Akademi/xhtml/css/style.css" rel="stylesheet">

</head>

<body class="body  h-100">
	<div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
		<div class="login-aside text-center  d-flex flex-column flex-row-auto">
			<div style="margin-top:100px;" class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
				<div class="text-center mb-lg-4 mb-2 pt-5 logo">
					<img src="~/Akademi/xhtml/images/logo-white.png" alt="">
				</div>
				<h3 class="mb-2 text-white">Təkrar xoş gəldin!</h3>
				<p class="mb-4">Əziz adminstrator! Admin panelinə xoş gəldiniz! Giriş edərək saytın idarəsinə başlayın!</p>
			</div>
		</div>
		<div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
			<div class="d-flex justify-content-center h-100 align-items-center">
				<div class="authincation-content style-2">
					<div class="row no-gutters">
						<div class="col-xl-12 tab-content">
							<div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
								<form method="post" asp-action="UpdatePassword" asp-controller="Account">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<div class="text-center mb-4">
										<h3 class="text-center mb-2 text-black">Şifrəmi yenilə!</h3>
									</div>

									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label mb-2 fs-13 label-color font-w500">Şifrə</label>
										<input asp-for="NewPassword" type="password" class="form-control" id="exampleFormControlInput1">
										<span asp-validation-for="NewPassword" class="text-danger"></span>
									</div>

									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label mb-2 fs-13 label-color font-w500">Şifrə təkrar</label>
										<input asp-for="RePassword" type="password" class="form-control" id="exampleFormControlInput1">
										<span asp-validation-for="RePassword" class="text-danger"></span>
									</div>
									<div class="form-group">
										<input asp-for="UserId" type="hidden" />
										<input asp-for="PasswordCode" type="hidden" />
									</div>
									<button type="submit" class="btn btn-block btn-primary">Yenilə</button>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/Akademi/xhtml/vendor/global/global.min.js"></script>
	<script src="~/Akademi/xhtml/js/custom.min.js"></script>
	<script src="~/Akademi/xhtml/js/dlabnav-init.js"></script>

</body>


</html>
