@model IEnumerable<EntityLayer.Concrete.Card>

@foreach (var card in Model)
{
    
    <div class="checkout-info">
        @{
            long cardcode = card.Code16;
            long number = 1000000000000000;
            long start4b = 1000000000000;
            long end4b = 10000;
            long n = cardcode / number;
            long start4 = cardcode / start4b;
            long end4 = cardcode % end4b;
        }
        <div style="display:flex">

            <a href="/Card/DeleteCard/@card.CardID" class="remove-product"><i class="ion ion-ios-close"></i></a>
            @if (n == 4)
            {
                <img src="~/visa-logo.png" width="50" />
            }
            else if (n == 5)
            {
                <img src="~/Mastercard-logo.svg.png" width="50" />
            }
            <h5 style="margin-top:10px; margin-left:200px;">@card.CardName</h5>
            <h4 style="margin-top:10px; margin-left:300px;">@start4 **** **** @end4</h4>
            
        </div>
       
    </div>
    
}
