
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="The most powerful Errors template">
    <meta name="keywords" content="Enter, your, keywords">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Error/css/style.css">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="~/Error/imgs/logo.png" alt="logo" />
        </a>
        <a href="#">
            <img src="~/Error/imgs/back.png" alt="back" />
        </a>
        <div class="divider"></div>
        <a href="#">
            <img src="~/Error/imgs/twitter.png" alt="twitter" />
        </a>
        <a href="#">
            <img src="~/Error/imgs/facebook.png" alt="facebook" />
        </a>
    </header>

    <main class="main">
        <div class="error">error</div>
        <div id="svgContainer"></div>
        <h2>Broken Link</h2>
        <h6>Somthing went wrong, please<br />Try again later</h6>
        <a href="#" class="button">Try Again</a>
    </main>

    <script src='~/Error/js/lottie.min.js'></script>
    <script src="~/Error/js/index.js"></script>
</body>


</html>