@model EntityLayer.Concrete.CampaignSurvey
@{
    ViewData["Title"] = "Sorğu haqqında ətraflı məlumat";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["ActiveCS"] = "active";
}

<div class="card">
    <div class="card-body">
        <h5>@Model.Title</h5>
        <small><i class="bi bi-calendar"></i> @(((DateTime)Model.SendDate).ToString("MMMM dd, yyyy HH:mm"))</small> 
        @if (Model.IsApproved)
        {
            <span class="badge rounded-pill bg-success">Təsdiqlənib</span>
        }
        else
        {
            <span class="badge rounded-pill bg-warning">Gözləmədə</span>
        }
        <p style="margin-top:20px;">
            @Html.Raw(Model.Description)
        </p>
    </div>
</div>

