@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="banners-area pb-30 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Hero Area -->
                <div class="herobanner slider-navigation slider-dots mt-30">

                    <!-- Herobanner Single -->
                    <div class="herobanner-single">
                        <img src="~/haltico/images/hero/hero-image-1.jpg" alt="hero image">
                        <div class="herobanner-content">
                            <div class="herobanner-box">
                                <h4>WE ARE THE BEST</h4>
                            </div>
                            <div class="herobanner-box">
                                <h1>Headphones On <span>World Off</span></h1>
                            </div>
                            <div class="herobanner-box">
                                <p>Bose Qc25 black quiet comfort25 acoustic noise cancelling Headphones. Lorem ipsum dollor.</p>
                            </div>
                            <div class="herobanner-box">
                                <a href="shop-rightsidebar.html" class="ho-button">
                                    <i class="lnr lnr-cart"></i>
                                    <span>Shop Now</span>
                                </a>
                            </div>
                        </div>
                        <span class="herobanner-progress"></span>
                    </div>
                    <!--// Herobanner Single -->
                    <!-- Herobanner Single -->
                    <div class="herobanner-single">
                        <img src="~/haltico/images/hero/hero-image-2.jpg" alt="hero image">
                        <div class="herobanner-content">
                            <div class="herobanner-box">
                                <h4>ONE - DAY SEMINAR</h4>
                            </div>
                            <div class="herobanner-box">
                                <h1>Writing & Product <span>For VR</span></h1>
                            </div>
                            <div class="herobanner-box">
                                <p>Learn how to write and produce cinematic Virtual Reality content by revered industry leaders.</p>
                            </div>
                            <div class="herobanner-box">
                                <a href="shop-rightsidebar.html" class="ho-button">
                                    <i class="lnr lnr-cart"></i>
                                    <span>Shop Now</span>
                                </a>
                            </div>
                        </div>
                        <span class="herobanner-progress"></span>
                    </div>
                    <!--// Herobanner Single -->

                </div>
                <!--// Hero Area -->
            </div>

            <div class="col-md-3">
                <div class="imgbanner mt-30">
                    <a href="product-details.html">
                        <img src="~/haltico/images/banner/banner-image-1.jpg" alt="banner">
                    </a>
                </div>
                <div class="imgbanner mt-30">
                    <a href="product-details.html">
                        <img src="~/haltico/images/banner/banner-image-2.jpg" alt="banner">
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="imgbanner mt-30">
                    <a href="product-details.html">
                        <img src="~/haltico/images/banner/banner-image-3.jpg" alt="banner">
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="imgbanner mt-30">
                    <a href="product-details.html">
                        <img src="~/haltico/images/banner/banner-image-4.jpg" alt="banner">
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="imgbanner mt-30">
                    <a href="product-details.html">
                        <img src="~/haltico/images/banner/banner-image-5.jpg" alt="banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Banners Area -->
<!-- Page Conttent -->
<main class="page-content">
	<main class="page-content">

		<!-- Features Area -->
		<div class="ho-section features-area bg-white ptb-30">
			<div class="container">
				<div class="row">

					<!-- Single Feature -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="featurebox">
							<i class="flaticon-shipped"></i>
							<h5>Free Shipping</h5>
							<p>Free shipping on all US order or order above $200</p>
						</div>
					</div>
					<!--// Single Feature -->
					<!-- Single Feature -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="featurebox">
							<i class="flaticon-support-1"></i>
							<h5>Support 24/7</h5>
							<p>Contact us 24 hours a day, 7 days a week</p>
						</div>
					</div>
					<!--// Single Feature -->
					<!-- Single Feature -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="featurebox">
							<i class="flaticon-money-back"></i>
							<h5>60-Day Returns</h5>
							<p>If you don’t love it, you have 60 days to return it.</p>
						</div>
					</div>
					<!--// Single Feature -->
					<!-- Single Feature -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="featurebox">
							<i class="flaticon-credit-card"></i>
							<h5>100% Payment Secure</h5>
							<p>We ensure secure payment with PEV</p>
						</div>
					</div>
					<!--// Single Feature -->

				</div>
			</div>
		</div>
		
		<div class="banner-area">
			<div class="container">
				<div class="imgbanner imgbanner-2 mt-30">
					<a href="product-details.html">
						<img src="~/haltico/images/banner/banner-image-6.jpg" alt="banner">
					</a>
				</div>
			</div>
		</div>
		<!--// Banner Area -->
		<!-- Trending Our Product Area -->
		<div class="ho-section trending-our-product-area bg-white">
			<div class="container">
				<div class="row">

					<!-- Trending Our Product Left -->
					<div class="col-lg-9 col-md-8">

						<!-- Trending Area -->
						
						@await Component.InvokeAsync("DiscountingProducts")
						<!--// Trending Area -->
						<!-- Banner -->
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-7.jpg" alt="banner">
							</a>
						</div>
						<!--// Banner -->
						<!-- Our Products Area -->
						@await Component.InvokeAsync("TrendingProducts")
						<!--// Our Products Area -->
						<!-- Banner -->
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-8.jpg" alt="banner">
							</a>
						</div>
						<!--// Banner -->

					</div>
					<!--// Trending Our Product Left -->
					<!-- Trending Our Product Right -->
					<div class="col-lg-3 col-md-4">

						<!-- Categories -->
						
						@await Component.InvokeAsync("Categories")
						<!--// Categories -->
						<!-- Banner -->
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-9.jpg" alt="image banner">
							</a>
						</div>
						<!--// Banner -->
						<!-- Recommended Product -->
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-9.jpg" alt="image banner">
							</a>
						</div>
						<!--// Recommended Product -->
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-9.jpg" alt="image banner">
							</a>
						</div>
					</div>
					<!--// Trending Our Product Right -->

				</div>
			</div>
		</div>

		@await Component.InvokeAsync("Brands")

		<!--// Brand Logo Area -->
		<!-- Banner Area -->
		<div class="banner-area">
			<div class="container">
				<div class="imgbanner imgbanner-2 mt-30">
					<a href="product-details.html">
						<img src="~/haltico/images/banner/banner-image-10.jpg" alt="banner">
					</a>
				</div>
			</div>
		</div>
		<!--// Banner Area -->
		<!-- Featured Products Area -->
		<div class="ho-section featured-products-area bg-white mtb-30">
			<div class="container">
				<div class="section-title">
					<h3>FEATURED PRODUCTS</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 order-2 order-lg-1">
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-11.jpg" alt="banner">
							</a>
						</div>
					</div>
					<div class="col-lg-6 order-1 order-lg-2">
						<div class="imgbanner imgbanner-2 mt-30">
							<a href="product-details.html">
								<img src="~/haltico/images/banner/banner-image-11.jpg" alt="banner">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// Featured Products Area -->
		<!-- Newsletter Area -->
		<div class="ho-section newsletter-area bg-grey ptb-50">
			<div class="container">
				<div class="newsletter">
					<div class="newsletter-title">
						<h2>Subscribe to our <span>Newsletter!</span></h2>

					</div>
					<div class="newsletter-content">
						<form id="mc-form" class="newsletter-form">
							<input id="mc-email" type="email" autocomplete="off" placeholder="Your email address...">
							<button id="mc-submit" type="submit">Subscribe</button>
						</form>
						<!-- mailchimp-alerts start -->
						<div class="mailchimp-alerts text-centre">
							<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
							<div class="mailchimp-success"></div><!-- mailchimp-success end -->
							<div class="mailchimp-error"></div><!-- mailchimp-error end -->
						</div><!-- mailchimp-alerts end -->
					</div>
					<div class="newsletter-socialicons socialicons socialicons-radial">
						<ul>
							<li><a href="#"><i class="ion ion-logo-facebook"></i></a></li>
							<li><a href="#"><i class="ion ion-logo-twitter"></i></a></li>
							<li><a href="#"><i class="ion ion-logo-youtube"></i></a></li>
							<li><a href="#"><i class="ion ion-logo-google"></i></a></li>
							<li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--// Newsletter Area -->

	</main>
</main>
