@model OnlineShopping.Areas.Seller.Models.AddStock
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Məhsul qəbulu";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["ActivePS"] = "active";
}
<div class="col-lg-9">
    <div class="card">
        <div class="card-body">
            <form method="post" asp-action="AddStock" asp-controller="Product">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Məhsul kodu</label>
                    <input asp-for="ProductCode" type="text" class="form-control">
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Say</label>
                    <input asp-for="Stock" type="number" class="form-control">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Yadda saxla</button>
            </form>
        </div>
    </div>
</div>