@using EntityLayer.Concrete
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Product
@{
    ViewData["Title"] = "Endirim tətbiq edin";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["AD"] = "active";
}

<div class="col-xl-6 col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <form asp-controller="Product" asp-action="ApplyDisscount">
                    <input asp-for="ProductID" hidden/>
                    <div class="mb-3">
                        <label class="form-label">Kateqoriyanı seçin:</label>
                        <select asp-items="ViewBag.cv" asp-for="CategoryID" class="default-select  form-control wide"></select>
                        <br />
                        <div class="mb-3">
                            <label class="form-label">Faiz:</label>
                            <input asp-for="DiscountedPrice" type="text" class="form-control input-default " placeholder="XX%">
                        </div>

                        <button class="btn btn-success" type="submit">
                            <i class="bi bi-check2-circle"></i> Təsdiqlə!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

