<div class="tab-pane active" id="activities">
    <div class="tab-pane-body">
        <ul class="list-group list-group-flush">
            <li class="px-0 list-group-item">
                <a href="#" class="d-flex">
                    <div class="flex-shrink-0">
                        <figure class="avatar avatar-info me-3">
                            <span class="avatar-text rounded-circle">
                                <img style="border-radius:50%" src="~/vetra/assets/images/user/man_avatar3.jpg" />
                            </span>
                        </figure>
                    </div>
                    <div class="flex-grow-1">
                        <p class="mb-0 fw-bold d-flex justify-content-between">
                            Samir sənə bir mesaj göndərdi!
                        </p>
                        <span class="text-muted small">
                            <i class="bi bi-clock me-1"></i> September 06, 2023
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-pane-footer">
        <a href="#" class="btn btn-primary">
            All Messages
        </a>
    </div>
</div>