@using EntityLayer.Concrete
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Notification
@{
    ViewData["Title"] = "Satıcılar üçün bildiriş";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Bildiriş mətnini qeyd edin</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post" asp-action="SpecialSeller" asp-controller="Notification">
                    <div class="mb-3">
                        <textarea asp-for="NotificationContent" class="form-control" rows="7" id="editor"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Göndər</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/ckeditor5-build-classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>