<div class="dlabnav">
	<div class="dlabnav-scroll">
		<ul class="metismenu" id="menu">
			<li><span class="has-arrow" style="color:white">Satışlar haqqında</span></li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">assessment</i>
					<span class="nav-text">Hesabatlar</span>
				</a>
			</li>
			<li><span class="has-arrow" style="color:white">Mağazalar haqqında</span></li>
			<li>
				<a href="/Admin/Product/Index">
					<i class="material-symbols-outlined">fact_check</i>
					<span class="nav-text">Məhsullar</span>
				</a>
			</li>
			<li>
				<a href="/Admin/Category/Index">
					<i class="material-symbols-outlined">category</i>
					<span class="nav-text">Kateqoriyalar</span>
				</a>
			</li>
			<li>
				<a href="/Admin/Store/Index">
					<i class="material-symbols-outlined">storefront</i>
					<span class="nav-text">Mağazalar</span>
				</a>
			</li>
			<li>
				<a href="/Admin/CampaignSurvey/Index">
					<i class="material-symbols-outlined">help</i>
					<span class="nav-text">Kompaniya sorğuları</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">campaign</i>
					<span class="nav-text">Kompaniyalar</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">feedback</i>
					<span class="nav-text">Şikayətlər</span>
				</a>
			</li>
			<li><span class="has-arrow" style="color:white">Hesablar haqqında</span></li>
			<li>
				<a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
					<i class="material-symbols-outlined">account_circle</i>
					<span class="nav-text">Hesablar</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="#">Adminlər</a></li>
					<li><a href="/Admin/Seller/Index/">Satıcılar</a></li>
					<li><a href="#">Alıcılar</a></li>
				</ul>

			</li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">contact_emergency</i>
					<span class="nav-text">Rollar</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">how_to_reg</i>
					<span class="nav-text">Səlahiyyətləndirmə</span>
				</a>
			</li>
			<li><span class="has-arrow" style="color:white">Alıcılarla əlaqə</span></li>
			<li>
				<a href="#">
					<i class="material-symbols-outlined">live_help</i>
					<span class="nav-text">Gələn suallar</span>
				</a>
			</li>
		</ul>
		<div class="copyright">
			<p><strong>E-Ticarət idarəemə paneli</strong></p>
			<p class="fs-12">Made with <span class="heart"></span> by DexignLab</p>
		</div>
	</div>
</div>
